@{
    ViewData["Title"] = "Kontakt";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Linux Polska<br />
    Al. Jerozolimskie 123A, 02-017 Warszawa<br />
    <abbr title="Telefon">Telefon:</abbr>
    22 213 95 71
</address>

<address>
    <strong>Biuro:</strong> <a href="biuro@linuxpolska.pl">biuro@linuxpolska.pl</a><br />
</address>
